:root {
    --colors-blue-100: #f7faff;
    --colors-blue-200: #d0defa;
    --colors-blue-300: #a6bff0;
    --colors-blue-400: #7b9ddf;
    --colors-blue-500: #5278c5;
    --colors-blue-600: #2d54a1;
    --colors-blue-700: #103173;
    --colors-blue-800: #001540;
    --colors-pink-100: #ffedfc;
    --colors-pink-200: #fad7f4;
    --colors-pink-300: #edbce5;
    --colors-pink-400: #d79ccd;
    --colors-pink-500: #b376a9;
    --colors-pink-600: #87507e;
    --colors-purple-100: #f7f0ff;
    --colors-purple-200: #efe3fc;
    --colors-purple-300: #e5d4f5;
    --colors-purple-400: #d6c2eb;
    --colors-purple-500: #c3acdb;
    --colors-purple-600: #ab93c4;
    --colors-purple-700: #8f76a7;
    --colors-purple-800: #715b87;
    --colors-gray-100: #ffffff;
    --colors-gray-200: #f1f3f8;
    --colors-gray-300: #dde2eb;
    --colors-gray-400: #c2c8d4;
    --colors-gray-500: #9ea4b2;
    --colors-gray-600: #6f7682;
    --colors-gray-700: #383c44;
    --colors-gray-800: #000000;
    --colors-cream-100: #fffefc;
    --colors-cream-200: #fdfbf7;
    --colors-cream-300: #f8f5ef;
    --colors-cream-400: #f7f3ec;
    --colors-cream-500: #ede8e2;
}
