@use './tokens.scss';

.link {

    color: tokens.$colors-purple-600;
    display: flex;
    flex-direction: row;

    &:hover {
        color: tokens.$colors-purple-400;
    }

    &:active {
        color: tokens.$colors-purple-500;
    }

}
