@use './tokens.scss';

.link {
    color: tokens.$colors-purple-600;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    &.nav-link {
        margin-right: 2rem;
    }

    &.nav-menu-link {
        flex-direction: column;

        &:hover {
            color: tokens.$colors-purple-400;
            background: tokens.$colors-purple-100;
        }
    
        &:active {
            color: tokens.$colors-purple-500;
            background: tokens.$colors-purple-0;
        }
    }

    &:hover {
        color: tokens.$colors-purple-400;
    }

    &:active {
        color: tokens.$colors-purple-500;
    }
}
