@use './tokens.scss';

.nav {
    min-width: 150px;
    max-width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
    background: tokens.$colors-purple-100;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    position: fixed;
    height: auto;
    padding: tokens.$size-spacing-4 tokens.$size-spacing-32;
    flex-wrap: nowrap;
}

.nav-list {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    min-height: tokens.$size-spacing-16;
    padding: tokens.$size-spacing-4;
    text-align: right;
    margin-left: auto;

    &.condensed {
        min-width: none;
        width: 30px;
    }
}

.content {
    padding-top: tokens.$size-text-36;
}
