@use './tokens.scss';

.swordle-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: white;
  border: 2px solid tokens.$colors-gray-400;

  &:has(span:not(:empty)) {
    border-color: tokens.$colors-gray-600;
  }

  &.swordle-tile-space {
    background-color: transparent;
    border: none;
    width: 25px;
  }

  &.swordle-tile-green {
    background-color: #88b976;
    border-color: #5f974a;
    border-width: 1px;
  }
  &.swordle-tile-yellow {
    background-color: #bdb347;
    border-color: #968e2e;
    border-width: 1px;
  }
  &.swordle-tile-gray {
    background-color: tokens.$colors-gray-500;
    border-color: tokens.$colors-gray-600;
    border-width: 1px;
  }
}

.swordle-guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: tokens.$size-sem-content-margin;
}
