:root {
  --colors-blue-100: #F7FAFF;
  --colors-blue-200: #D0DEFA;
  --colors-blue-300: #A6BFF0;
  --colors-blue-400: #7B9DDF;
  --colors-blue-500: #5278C5;
  --colors-blue-600: #2D54A1;
  --colors-blue-700: #103173;
  --colors-blue-800: #001540;
  --colors-pink-100: #FFEDFC;
  --colors-pink-200: #FAD7F4;
  --colors-pink-300: #EDBCE5;
  --colors-pink-400: #D79CCD;
  --colors-pink-500: #B376A9;
  --colors-pink-600: #87507E;
  --colors-purple-0: #FBF7FF;
  --colors-purple-100: #D8C6E9;
  --colors-purple-200: #B89AD3;
  --colors-purple-300: #9C77BE;
  --colors-purple-400: #835CA8;
  --colors-purple-500: #6A468D;
  --colors-purple-600: #5B377C;
  --colors-purple-700: #492A66;
  --colors-purple-800: #391F50;
  --colors-purple-900: #29163B;
  --colors-gray-100: #FFFFFF;
  --colors-gray-200: #F1F3F8;
  --colors-gray-300: #DDE2EB;
  --colors-gray-400: #C2C8D4;
  --colors-gray-500: #9EA4B2;
  --colors-gray-600: #6F7682;
  --colors-gray-700: #383C44;
  --colors-gray-800: #000000;
  --colors-cream-100: #FFFEFC;
  --colors-cream-200: #FDFBF7;
  --colors-cream-300: #F8F5EF;
  --colors-cream-400: #F7F3EC;
  --colors-cream-500: #EDE8E2;
  --size-spacing-1: 0.0625rem;
  --size-spacing-2: 0.125rem;
  --size-spacing-4: 0.25rem;
  --size-spacing-8: 0.5rem;
  --size-spacing-16: 1rem;
  --size-spacing-32: 2rem;
  --size-spacing-none: 0rem;
  --size-radius-none: 0rem;
  --size-radius-4px: 0.25rem;
  --size-radius-8px: 0.5rem;
  --size-radius-16px: 1rem;
  --size-radius-32px: 2rem;
  --size-text-12: 0.75rem;
  --size-text-16: 1rem;
  --size-text-18: 1.125rem;
  --size-text-23: 1.4375rem;
  --size-text-29: 1.8215rem;
  --size-text-36: 2.25rem;
  --size-text-45: 2.8125rem;
  --size-text-56: 3.5rem;
  --size-text-70: 4.375rem;
  --size-text-88: 5.5rem;
  --size-sem-content-padding: 3rem;
  --size-sem-content-margin: ;
  --size-sem-navbar-height: 3rem;
}
